@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 349 67% 91%;
    --foreground: 289 25% 15%;
    --card: 349 67% 94%;
    --card-foreground: 289 25% 15%;
    --popover: 349 67% 91%;
    --popover-foreground: 289 25% 15%;
    --primary: 344 100% 41%;
    --primary-foreground: 0 0% 98%;
    --secondary: 349 60% 85%;
    --secondary-foreground: 344 100% 21%;
    --muted: 349 60% 88%;
    --muted-foreground: 289 25% 40%;
    --accent: 289 25% 33%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 349 20% 80%;
    --input: 349 20% 80%;
    --ring: 344 100% 41%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --background: 289 15% 10%;
    --foreground: 0 0% 98%;
    --card: 289 15% 12%;
    --card-foreground: 0 0% 98%;
    --popover: 289 15% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 344 90% 60%;
    --primary-foreground: 0 0% 9%;
    --secondary: 289 15% 20%;
    --secondary-foreground: 0 0% 98%;
    --muted: 289 15% 20%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 349 67% 85%;
    --accent-foreground: 289 25% 15%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 289 15% 25%;
    --input: 289 15% 25%;
    --ring: 344 90% 60%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
